/* HEADER */

*{
  margin:0;
  padding:0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  background:#F8EEEE;
}


/*NAVIGATION BAR, LOGO,AND DROPDOWN fceca7*/

.logo {
    float: left; 
    height: 60px;
    width: auto; 
    padding-right: 30px;
    padding-left: 50px;
    margin-top: 5px;
}

.topnav { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #700202; /* Updated to transparent */
  height: 70px;
  z-index: 100; /* To ensure it's above other content */
}

.topnav h1 {
    color: white;
    float: left;
    margin-top: 15px;
    font-size: 30px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 35px;;
  text-decoration: none;
  font-size: 20px;
}

.active {
  background-color: #fceca7;
  color: black;
}

.topnav .icon {
  display: none;
}


.topnav a:hover {
  background-color: #fceca7;
  color: black;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  body {
    margin-top: 70px;
}

.content {
  max-height: calc(100vh - 70px); /* Adjust 70px to match the height of your topnav */
  overflow-y: auto;
}


.group {
  width: 100%;
  display: flex; 
  gap: 15px; 
  margin: 8px 0; 
}
.group label { 
  float: top; 
}

.card {
  width: 100%;
  
}

input[type=text], input[type=number], select, input[type=date], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.submit-btn {
  color: white;
  width: 100%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin-left: 50%;
  margin-top:10%;
  background-color: #700202;
  border: 0;
  outline: none;
  border-radius: 30px;
  size: 20px; 
}

.buttons {
  margin-left: 35%;  
  padding: 20px; 
}

.button {
  float: left;
  position: relative;
  border: none;
  width: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button img{
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px; 
}


 

/* The Close Button */
.close {
  color: #aaa;
  float: right; /* Add this line to align the close button to the right */
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}  


